@import "../../../static/css/variables";

.register {
  position: absolute;
  margin: auto;
  top: calc(50% - (404px /2));
  left: calc(50% - (400px/2));
  width: 400px;
  height: auto;
  background: $primaryBg;
  border-radius: 4px;
  box-shadow: 0 0 10px $primaryBorder;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.register-container {
  padding: 15px;
  box-sizing: content-box;
}

.register-container {
  h4 {
    font-size: 24px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.pseudo-link {
  color: $urlColor;
  cursor: pointer;
  font-weight: 500;
  border:0;
  background: transparent;
}

@media screen and (max-width: 400px) {
  .register {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    border-radius: 0;
    box-shadow: none;
  }
}

